[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "dimension"]
	path = dimension
	url = https://github.com/sethmacleod/dimension
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
